.picto-rs {
  width: 40px;
}

.footer {
  background-color: #edf1ef;
}

.footer-lien {
  background-color: #edf1ef;
  font-family: "Noto Sans";
}

.title-footer {
  font-family: "Oswald";
  color: #2a4f3f;
}