header{
  background-color: #edf1ef;
  color:#2A4F3F !important;
  border: solid #2A4F3F;
  list-style-type: none;
}
.nav-link{
  color:#2A4F3F !important;
}
.navbarMobile{
  list-style-type: none;
  padding: 0px;
  background-color: #edf1ef !important;
}

@media screen and (min-width: 769px) {
  .basket {
    width: 30px;
  }
}