.stats {
  width: 35px;
  height: 35px;
}

.importantText {
  font-family: "Oswald", sans-serif;
}

.textRegular {
  font-family: "Noto Sans", sans-serif;
}

.divPrincipale {
  background-color: #edf1ef;
}

.forwNextIcons {
  height: 3rem;
  width: 3rem;
  padding: 0;
}
