.stats {
  width: 45px;
  height: 45px;
}

.oneProductStats {
  line-height: 45px;
}

.importantText {
  font-family: "Oswald", sans-serif;
}

.textRegular {
  font-family: "Noto Sans", sans-serif;
}

.divPrincipale {
  background-color: #edf1ef;
}

.imageOneProduct {
  max-height: 183px;
  max-width: 100%;
}

.typeAbilities {
  width: 70%;
}

.oneProductBtn {
  height: 35px;
  width: 35px;
}


.contactButton {
  margin-right: 12.5%;
}

.formBG {
  background-color: #edf1ef;
}

.thirdInput {
  margin-bottom: 1rem;
}

.grass {
  background-color: #4dad5b;
}

.poison {
  background-color: #855ac9;
}

.fire {
  background-color: #ee6b2f;
}

.normal {
  background-color: #919191;
}

.water {
  background-color: #30a7d7;
}

.bug {
  background-color: #9fe346;
}

.flying {
  background-color: #be8ce2;
}

.electric {
  background-color: #e6bc2f;
}

.ground {
  background-color: #cc891e;
}

.fairy {
  background-color: #e7a4dc;
}

@media screen and (min-width: 800px) {
  .typeAbilities {
    width: 40%;
  }

  .contactButton {
    margin-right: 12.1%;
  }

  .thirdInput {
    margin-bottom: 0;
  }
}