.stats {
  width: 35px;
  height: 35px;
}

.importantText {
  font-family: "Oswald", sans-serif;
}

.textRegular {
  font-family: "Noto Sans", sans-serif;
}

.divPrincipale {
  background-color: #EDF1EF;
}