.btn {
  background-color: #2a4f3f;
}

.btn-link {
  color: #198754;
}

.body-basket,
.card {
  background-color: #edf1ef;
}

.form-check-input:checked {
  background-color: #2a4f3f;
  border-color: #2a4f3f;
}

.valide-basket {
  display: none;
}

.btn-delete {
  background-color: transparent;
  border-radius: none;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row .img-basket {
    display: flex;
  }

  .valide-basket-mobile {
    display: none;
  }

  .basket-dekstop {
    display: flex;
  }
  .summary-oder,
  .valide-basket {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
