.homePage {
  color: #2a4f3f;
  font-family: noto sans, sans-serif;

}

.newsHomeDiv{
width: 80%;
margin: auto;
}

.titleHome {
  font-family: oswald, sans-serif;
}

.imageBck {
  background-image: url("https://media.discordapp.net/attachments/1031472283761508363/1035485124269187092/unknown.png?width=1243&height=580");
  background-size: cover;
  height: 25vh;
}

h1.colorTitle {
  color: #c2c4d1;
  height: 25vh;
}

.lastArrival {
  background-color: rgba(0, 255, 136, 0.77);
}

.bNews{
  height: 50px;
  width: 150px;
}

.hardChoose {
  background-color: rgba(255, 251, 0, 0.838);
}

.imgNewsHome{
  height: 100%;
}

.season {
  background-color: rgb(2, 174, 254);
  height: 30vh;
}

.newsTitle {
  text-align: center;
}

.carousel-item img {
  height: 40vh;
  margin: 15px auto;
}

#carouselCaptionsHome{
  background-color: blue;
  height: 55vh;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .imageBck {
    background-position: 50% 50%;
    height: 50vh;
  }

  h1.colorTitle {
    height: 50vh;
  }

  #carouselHome {
    height: 80vh;
  }
  .carousel-item {
    height: 70vh;
  }
} ;
