.cardPokemon {
  width: 50%;
}

.form-select {
  width: 45%;
}

.list-group {
  width: 20%;
}
@media screen and (min-width : 769px) {
  .cardPokemon {
    width : 25%;
  } 

  .form-select {
  width: 15%;
  }
}
